@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Outfit;
}

/* nav bar */

.nav-link {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  gap: 7px;
  font-size: 0.8rem;
  font-weight: 500;
}

.nav-link h3 {
  color: #feba17;
  font-weight: 900;
  font-size: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.nav-bar h2 {
  margin-top: 0.3rem;
}

.button {
  padding: 0.8rem 1rem;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.yellow-btn {
  background-color: #feba17;
}

.black-btn {
  background-color: black;
}

/* slider section */

.slider {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  padding-inline: 3rem;
  margin-top: 2rem;
  position: relative;
}

.slider-left {
  z-index: 2;
  padding-right: 5rem;
  background-color: white;
  position: relative;
  transform: translateX(40px);
}

.slider-right {
  position: relative;
  z-index: 1;
}

.slider-img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-text {
  font-size: 0.8rem;
  font-weight: 500;
}

.slider-text span {
  color: #feba17;
  font-weight: 900;
  font-size: 1.3rem;
  padding-right: 9px;
}

.slider-heading-1 {
  font-size: 5rem;
  font-weight: 400;
}

.slider-heading-2 {
  color: #feba17;
  font-weight: 800;
  font-size: 5rem;
}

.slider-para {
  padding-block: 2rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.slider-btn {
  background-color: #feba17;
  padding: 1rem 3rem;
  color: white;
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 7rem;
  cursor: pointer;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider-slide {
  min-width: 100%;
  box-sizing: border-box;
}

/* welcome section */

.welcome-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 3rem;
  gap: 6rem;
  padding: 4rem;
  align-items: center;
}

.welcome-left {
  position: relative;
  width: fit-content;
  max-width: 100%;
}

.welcome-right {
  align-items: center;
}

.welcome-right h2 {
  font-size: 3rem;
}

.welcome-right h2 span {
  color: #f97a00;
}

.welcome-right p {
  margin-block: 2rem;
}

.welcome-para {
  color: gray;
  font-size: 0.9rem;
}

.welcome-btn {
  color: green;
  font-weight: 600;
  padding-inline: 1rem;
}

.welcome-img1 {
  position: absolute;
  bottom: -130px;
  right: -180px;
  width: 400px;
  z-index: 2;
}

.welcome-img2 {
  display: block;
  width: 400px;
  height: auto;
  max-width: 100%;
}

.welcome-msg {
  background-color: #f97a00;
  padding: 3rem;
  color: white;
  text-align: center;
  z-index: 2;
  bottom: -100px;
  right: -100px;
}

.welcome-count {
  font-size: 2rem;
}

/* our service section */

.service-card {
  display: flex;
  align-items: center;
  width: 40%;
  text-align: left;
  gap: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-card div img {
  object-fit: cover;
}

.service-section {
  /* justify-content: center; */
  text-align: center;
  padding-block: 4rem;
}

.service-title {
  font-weight: 500;
  color: green;
  font-size: 1.3rem;
}

.service-text {
  padding-block: 1rem;
  color: gray;
  font-size: 0.8rem;
}

.read-more {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.service-cards-section {
  /* justify-content: center; */
  display: flex;
  padding-block: 2rem;
  gap: 2rem;
}

.solution-bottom {
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.8rem;
}

.solution-bottom-text1 {
  color: gray;
}

.solution-bottom-text2 {
  font-weight: 500;
  cursor: pointer;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.service-bottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 6rem;
}

.service-cards-container {
  width: 100%;
  margin-top: 2rem;
  overflow: hidden;
  position: relative;
}

.service-cards-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.service-cards-group {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  margin-bottom: 3rem;
  gap: 1rem;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

/* stats section */
.stat-component {
  display: flex;
  gap: 2rem;
  width: 10rem;
  align-items: center;
  color: rgb(3, 3, 73);
}

.stat-component p {
  font-size: 1rem;
  font-weight: 500;
}

.stat-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem 4rem 10rem;
}
